/*colors*/
/*задний фон*/
/*задний фон*/
/*ховер в меню*/
/*просто белый*/
/*ховер на кнопках*/
/*кнопки*/
/*кнопки и фон*/
/*fonts*/
body {
  margin: 0;
  padding: 0;
  background: #282a2e;
  font-family: 'Roboto', sans-serif;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 130px;
  margin: 10px 10%;
  max-width: 80%;
}
.header .logo {
  display: block;
}
.header .logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-decoration: none;
}
.header .logo__link__image {
  height: 30px;
  width: 45px;
}
.header .logo__link__text {
  margin-left: 4%;
  color: #ffffff;
  font-size: 32px;
}
.header .nav-menu {
  margin-left: 20%;
}
.header .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav-menu ul li {
  list-style: none;
}
.header .nav-menu ul li a {
  margin: 10px 0;
  padding: 30px 30px;
  font-size: 20px;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .nav-menu ul li a:hover {
  color: #97c248;
}
.header .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .search-box__input {
  background: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #97c248;
  width: 0px;
  height: 100%;
  border-bottom: 2px solid transparent;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header .search-box__btn {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .search-box__btn img {
  width: 20px;
  color: #ffffff;
}
.header .menu-link {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  background: #fff;
  border-radius: 50%;
  z-index: 9;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}
.header .menu-link span,
.header .menu-link span:before,
.header .menu-link span:after {
  position: absolute;
  display: block;
  width: 18px;
  height: 2px;
  left: 50%;
  top: 50%;
  margin-left: -9px;
  margin-top: -1px;
  background: #333;
}
.header .menu-link span:before {
  content: '';
  margin-top: -6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .menu-link span::after {
  content: '';
  margin-top: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .menu-link_active span {
  background-color: transparent;
}
.header .menu-link_active span:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 0;
}
.header .menu-link_active span:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0;
}
.slider {
  position: relative;
}
.slider-block .item {
  width: 100%;
  height: 770px;
}
.slider-block .item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.slider-block .item .slider-text {
  position: absolute;
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
  height: 776px;
}
.slider-block .item .slider-text .shapes {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slider-block .item .slider-text .shapes img {
  width: 50px;
  height: 50px;
}
.slider-block .item .slider-text .shapes1 {
  -webkit-transform: translate(144%, -5%);
          transform: translate(144%, -5%);
}
.slider-block .item .slider-text .shapes1 img {
  width: 40px;
  height: 40px;
}
.slider-block .item .slider-text .shapes2 {
  -webkit-transform: translate(157%, -18%);
          transform: translate(157%, -18%);
}
.slider-block .item .slider-text .shapes2 img {
  width: 37px;
  height: 38px;
}
.slider-block .item .slider-text .shapes3 {
  -webkit-transform: translate(141%, 14%);
          transform: translate(141%, 14%);
}
.slider-block .item .slider-text .shapes3 img {
  width: 80px;
  height: 75px;
}
.slider-block .item .slider-text .shapes4 {
  -webkit-transform: translate(162%, -7%);
          transform: translate(162%, -7%);
}
.slider-block .item .slider-text .shapes5 {
  -webkit-transform: translate(166%, -25%);
          transform: translate(166%, -25%);
}
.slider-block .item .slider-text .shapes5 img {
  width: 37px;
  height: 35px;
}
.slider-block .item .slider-text .shapes6 {
  -webkit-transform: translate(113%, 50%);
          transform: translate(113%, 50%);
}
.slider-block .item .slider-text .shapes6 img {
  width: 210px;
  height: 115px;
}
.slider-block .item .slider-text .shapes7 {
  -webkit-transform: translate(140%, 29%);
          transform: translate(140%, 29%);
}
.slider-block .item .slider-text .shapes7 img {
  width: 100px;
  height: 100px;
}
.slider-block .item .slider-text .shapes8 {
  -webkit-transform: translate(155%, 7%);
          transform: translate(155%, 7%);
}
.slider-block .item .slider-text .shapes8 img {
  width: 70px;
  height: 70px;
}
.slider-block .item .slider-text__text {
  display: block;
  -webkit-transform: translate(20%);
          transform: translate(20%);
  width: 100%;
  height: auto;
  line-height: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider-block .item .slider-text__text h1 {
  font-size: 76px;
  font-weight: lighter;
  color: #ffffff;
}
.slider-block .item .slider-text__text p {
  font-size: 53px;
  font-weight: 600;
  color: #ffffff;
}
.slider .slick-active {
  outline: none;
}
.slider .slick-arrow {
  position: absolute;
  z-index: 99;
  width: 20px;
  height: 20px;
  border: none;
  top: 44%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.slider .slick-prev {
  left: 1%;
}
.slider .slick-next {
  right: 3%;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  font-size: 40px;
  color: #ffffff;
  top: -13px;
  position: absolute;
}
.services {
  width: 100%;
}
.services h1 {
  margin-top: 60px;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  font-weight: 100;
}
.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 10%;
  width: 79%;
}
.services__container__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  margin-top: 25px;
  text-align: center;
}
.services__container__block__img {
  margin-left: 25%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #2f3136;
}
.services__container__block__img img {
  height: 130px;
  width: 35px;
}
.services__container__block h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: lighter;
}
.services__container__block p {
  color: #bfbfbf;
  font-size: 17px;
  padding-bottom: 37px;
}
.services .slick-slide img {
  display: inline-block;
}
.sec2 {
  position: relative;
  width: 100%;
  height: 559px;
}
.sec2__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sec2__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec2__block {
  display: block;
  -webkit-transform: translate(11%, 152%);
          transform: translate(11%, 152%);
  line-height: 20px;
}
.sec2__block .center {
  display: table-cell;
  vertical-align: middle;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  line-height: 0;
}
.sec2__block__tittle h1 {
  font-weight: lighter;
  font-size: 78px;
  color: #ffffff;
}
.sec2__block__tittle p {
  font-weight: lighter;
  font-size: 53px;
  color: #ffffff;
}
.sec2__block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sec2__block__button .btn {
  display: block;
  padding: 20px 32px;
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  background: #b0cd3b;
  outline: none;
  border-radius: 5px;
  border-bottom: 4px solid #4b5817;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
.sec2__block__button .btn:hover {
  background: #1bbc9d;
}
.sec2__block__button .btn2 {
  padding: 20px 52px;
  margin-left: 10px;
}
/*блок с боксами и load more*/
.portfolio {
  position: relative;
  height: auto;
}
.portfolio .top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
.portfolio .top-box h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: lighter;
  line-height: 30px;
}
.portfolio .top-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}
.portfolio .top-box ul li {
  list-style: none;
}
.portfolio .top-box ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  background: #404349;
  margin: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.portfolio .top-box ul li a:hover {
  background: #1bbc9d;
}
.portfolio .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 55px 10%;
  width: 80%;
}
.portfolio .container__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 296px;
  height: 292px;
  margin: 10px;
}
.portfolio .container__box__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.portfolio .container__box__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .container__box__content {
  position: absolute;
  bottom: 37px;
  left: 10%;
  width: 75%;
  height: 225px;
  background: #000;
  text-align: center;
  line-height: 12px;
  overflow: hidden;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio .container__box__content:hover {
  opacity: 1;
}
.portfolio .container__box__content p {
  margin-top: 45px;
  padding: 0;
  font-size: 24px;
  color: #ffffff;
}
.portfolio .container__box__content span {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #ffffff;
}
.portfolio .container .loadMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 45px;
}
.portfolio .container .loadMore label {
  font-size: 22px;
  font-weight: lighter;
  text-decoration: none;
  color: #ffffff;
}
.portfolio .container .loadMore__link {
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
}
.portfolio .container .loadMore__link a img {
  height: 30px;
}
.portfolio .container__box2 {
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 296px;
  height: 292px;
  margin: 10px;
}
.section-price .top-title {
  text-align: center;
  font-size: 46px;
  color: #ffffff;
  font-weight: 100;
  margin-top: 54px;
}
.section-price .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin-left: 10%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-price .box__item {
  width: 350px;
  height: 584px;
  margin: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #313338;
  border-radius: 5px;
}
.section-price .box__item:nth-child(2) {
  background: #ffffff;
}
.section-price .box__item:nth-child(2) h1 {
  color: #313338;
}
.section-price .box__item:nth-child(2) .text {
  color: #666666;
}
.section-price .box__item:nth-child(2) .text span {
  color: #999999;
}
.section-price .box__item h1 {
  font-size: 28px;
  font-weight: lighter;
  margin-top: 50px;
  color: #ffffff;
}
.section-price .box__item__color {
  width: 100%;
  padding: 1px 0;
  background: #1bbc9d;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.section-price .box__item__color .subtitle {
  font-size: 20px;
  color: #ffffff;
}
.section-price .box__item__catalog {
  width: 100%;
  line-height: 30px;
  padding-top: 30px;
}
.section-price .box__item__catalog p {
  font-size: 20px;
  font-weight: bold;
  color: #cccccc;
}
.section-price .box__item__catalog p span {
  margin-left: 3%;
  font-weight: 100;
  color: #cccccc;
}
.section-price .box__item__btn {
  margin-top: 65px;
}
.section-price .box__item__btn .btn {
  position: relative;
  padding: 15px 32px;
  width: 60%;
  font-size: 24px;
  font-weight: lighter;
  color: #ffffff;
  background: #b0cd3b;
  border-radius: 10px;
  border-bottom: 4px solid #4b5817;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
.section-price .box__item__btn .btn:hover {
  background: #1bbc9d;
}
.section-price .box .item2 {
  width: 280px;
  margin-top: 72px;
  background: #ffffff;
}
.section-price .box .item2 h1 {
  color: #313338;
}
.section-price .box .item2 .black {
  background: #404040;
}
.section-price .box .item2 .green {
  background: #4BB2A5;
}
.section-price .box .item2 .yellow {
  background: #B3C57E;
}
.section-price .box .item2 .white {
  background: #E5E5E5;
}
.section-price .box .item2 .text {
  color: #666666;
}
.section-price .box .item2 .text span {
  color: #999999;
}
.section-price .bottom-title {
  display: block;
  position: relative;
  margin-top: 100px;
  text-align: center;
}
.section-price .bottom-title h2 {
  font-size: 24px;
  font-weight: 100;
  color: #ffffff;
  text-transform: uppercase;
}
.section-price .bottom-title h2:before {
  content: '';
  position: absolute;
  width: 28%;
  height: 2px;
  background: #404040;
  -webkit-transform: translate(-120%, 15px);
          transform: translate(-120%, 15px);
}
.section-price .bottom-title h2::after {
  content: '';
  position: absolute;
  width: 28%;
  height: 2px;
  background: #404040;
  -webkit-transform: translate(23%, 15px);
          transform: translate(23%, 15px);
}
.section-price .bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.section-price .bottom-text .quote {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 10px;
}
.section-price .bottom-text .quote:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.section-price .bottom-text p {
  line-height: 30px;
  color: #808080;
}
.section-price .bottom-link {
  display: block;
  text-align: center;
  margin: 20px 20px;
}
.section-price .bottom-link a {
  color: #b0cd3b;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.contacts h1 {
  text-align: center;
  font-size: 46px;
  color: #ffffff;
  font-weight: 100;
  margin-top: 54px;
}
.contacts .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 80%;
  margin-left: 10%;
}
.contacts .wrapper .btn-form {
  display: block;
  color: #ffffff;
  font-size: 20px;
  background: #1bbc9d;
  padding: 10px 20px;
  margin: 20px 0;
  cursor: pointer;
  outline: none;
  border: none;
}
.contacts .wrapper .container-cont1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
  border-top: 2px solid #ffffff;
}
.contacts .wrapper .container-cont1 form input {
  width: 48%;
  font-size: 20px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  border: none;
  background: #313338;
}
.contacts .wrapper .container-cont1 form input:nth-of-type(1n+2) {
  margin-left: 10px;
}
.contacts .wrapper .container-cont1 form textarea {
  width: 95%;
  font-size: 20px;
  border: none;
  background: #313338;
  padding: 10px 20px;
}
.contacts .wrapper .container-cont2 {
  width: 40%;
  border-top: 2px solid #ffffff;
  margin-left: 30px;
  color: #4BB2A5;
  font-weight: bold;
  font-size: 20px;
}
.contacts .wrapper .container-cont2 span {
  font-weight: 100;
}
.contacts .wrapper .container-cont2 .btn-form2 {
  margin-top: 65px;
}
@media (max-width: 1024px) {
  .header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 25%;
  }
  .header .logo {
    width: 15%;
  }
  .header .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: purple;
    z-index: 1;
    opacity: 0.9;
    margin-left: 0%;
    left: -100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 245px;
  }
  .header .nav-menu_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: purple;
    z-index: 1;
    opacity: 0.9;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    left: 0%;
  }
  .header .nav-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    padding: 0;
    text-align: center;
  }
  .header .nav-menu ul li {
    padding: 20px;
  }
  .header .nav-menu ul li a {
    width: 100vw;
    color: #fff;
  }
  .header .nav-menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
  .header .menu-link {
    display: block;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .slider-block .item .slider-text__text {
    -webkit-transform: translate(10%, 210%);
            transform: translate(10%, 210%);
  }
  .slider-block .item .slider-text__text h1 {
    font-size: 50px;
  }
  .slider-block .item .slider-text__text p {
    font-size: 40px;
  }
  .sec2__block {
    -webkit-transform: translate(11%, 162%);
            transform: translate(11%, 162%);
    line-height: 20px;
  }
  .sec2__block__tittle h1 {
    font-size: 64px;
  }
  .section-price .box .item2 {
    margin-top: 0;
    width: 350px;
  }
  .section-price .bottom-text {
    width: 75%;
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  .section-price .bottom-text .quote {
    width: 80px;
    height: 80px;
  }
  .portfolio .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 991px) {
  .services__container__block__img {
    margin-left: 37%;
  }
}
@media (max-width: 916px) {
  .sec2__block {
    -webkit-transform: translate(11%, 162%);
            transform: translate(11%, 162%);
    line-height: 20px;
  }
  .sec2__block__tittle h1 {
    font-size: 50px;
  }
  .section-price .box__item {
    margin-top: 25px;
    width: 100%;
  }
  .section-price .box .item2 {
    margin-top: 25px;
    width: 100%;
  }
  .section-price .bottom-text {
    width: 100%;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .section-price .bottom-text .quote {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .portfolio .container__box,
  .portfolio .container__box2 {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .header .logo {
    width: 60%;
  }
  .header .menu-link {
    top: 45px;
  }
  .slider {
    position: relative;
  }
  .slider-block .item .slider-text__text h1 {
    font-size: 34px;
  }
  .slider-block .item .slider-text__text p {
    font-size: 22px;
  }
}
