/*colors*/
@bg: #282a2e; /*задний фон*/
@background2: #4b3f34; /*задний фон*/
@hover:#97c248; /*ховер в меню*/
@white: #fff; /*просто белый*/
@btn-hover: #1bbc9d; /*ховер на кнопках*/
@btn: #b0cd3b; /*кнопки*/
@button: #313338; /*кнопки и фон*/

/*fonts*/

body {
	margin: 0;
	padding: 0;
	background: @bg;
	font-family: 'Roboto', sans-serif;
}
.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 130px;
	margin: 10px 10%;
	max-width: 80%;
		.logo {
			display: block;
			&__link {
				display: flex;
				text-align: center;
				align-items: baseline;
				text-decoration: none;
				&__image {
					height: 30px;
					width: 45px;
				}
				&__text {
					margin-left: 4%;
					color: @white;
					font-size: 32px;
				}
			}
		}
		.nav-menu {
			margin-left: 20%;
			ul {
				display: flex;
				li {
					list-style: none;
					a {
						margin: 10px 0;
						padding: 30px 30px;
						font-size: 20px;
						letter-spacing: 1.2px;
						text-decoration: none;
						color: @white;
						transition: 0.5s;
						&:hover {
							color: @hover;
						}
					}
				}
			}		
	}
	.search-box {
		display: flex;
		&__input {
			background: transparent;
			outline: none;
			border: none;
			font-size: 20px;
			text-transform: uppercase;
			color: @hover;
			width: 0px;
			height: 100%;
			border-bottom: 2px solid transparent;
			z-index: 2;
			transition: 0.5s;
		}
		&__btn {
			outline: none;
			background: transparent;
			border: none;
			cursor: pointer;
			img {
				width: 20px;
				color: @white;
			}
		}
	}
	.menu-link {
		position: fixed;
		display: none;
		width: 50px;
		height: 50px;
		top: 20px;
		left: 20px;
		background: #fff;
		border-radius: 50%;
		z-index: 9;
		box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
		span, span:before, span:after {
			position: absolute;
			display: block;
			width: 18px;
			height: 2px;
			left: 50%;
			top: 50%;
			margin-left: -9px;
			margin-top: -1px;
			background: #333;
		}
		span:before {
			content: '';
			margin-top: -6px;
			transition: all 0.3s;
		}
		span::after {
			content: '';
			margin-top: 4px;
			transition: all 0.3s;
		}
		&_active span {
			 background-color: transparent;
			&:before {
				transform: rotate(135deg);
				margin-top: 0;
			}
			&:after {
				transform: rotate(-135deg);
				margin-top: 0;
			}
		}
	}
}


// slick-slider
.slider{
	position: relative;
	&-block {
		.item {
			width: 100%;
			height: 770px;
			img {
				width: 100%;
				object-fit: cover;
				height: 100%;
			}
			.slider-text {
				position: absolute;
				transform: translateY(35%);
				height: 776px;
				//иконки на первом слайде
				.shapes {
					position: absolute;
					overflow: hidden;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					img {
						width: 50px;
						height: 50px;
					}
				}
				.shapes1 {
					transform: translate(144%, -5%);
					img {
						width: 40px;
						height: 40px;
					}
				}
				.shapes2 {
					transform: translate(157%, -18%);
					img {
						width: 37px;
						height: 38px;
					}
				}
				.shapes3 {
					transform: translate(141%, 14%);
					img {
						width: 80px;
						height: 75px;
					}
				}
				.shapes4 {
					transform: translate(162%, -7%);
				}
				.shapes5 {
					transform: translate(166%, -25%);
					img {
						width: 37px;
						height: 35px;
					}
				}
				.shapes6 {
					transform: translate(113%, 50%);
					img {
						width: 210px;
						height: 115px;
					}
				}
				.shapes7 {
					transform: translate(140%, 29%);
					img {
						width: 100px;
						height: 100px;
					}
				}
				.shapes8 {
					transform: translate(155%, 7%);
					img {
						width: 70px;
						height: 70px;
					}
				}
				//текст на слайде
				&__text {
					display: block;
					transform: translate(20%);
					width: 100%;
					height: auto;
					line-height: 0px;
					box-sizing: border-box;
					h1 {
						font-size: 76px;
						font-weight: lighter;
						color: @white;
					}
					p {
						font-size: 53px;
						font-weight: 600;
						color: @white;	
					}
				}
				
			}
			
		}
	}
	.slick-active {
		outline: none;
	}
	.slick-arrow {
		position: absolute;
		z-index: 99;
		width: 20px;
		height: 20px;
		border: none;
		top: 44%;
		transform: translateY(50%);
	}
	.slick-prev {
		left: 1%;
	}
	.slick-next {
		right: 3%;
	}
	.slick-prev:before, .slick-next:before {
		font-size: 40px;
		color: @white;
		top: -13px;
		position: absolute;
	}
}
//секция с преимуществами
.services {
	width: 100%;
	h1 {
		margin-top: 60px;
		color: @white;
		font-size: 48px;
		text-align: center;
		font-weight: 100;
	}
	&__container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-left: 10%;
		width: 79%;
		&__block {
			display: flex;
			flex-direction: column;
			width: 20%;
			margin-top: 25px;
			text-align: center;
			&__img {
				margin-left: 25%;
				width: 130px;
				height: 130px;
				border-radius: 50%;
				background-color: lighten(@bg, 3%);
				img {
					height: 130px;
					width: 35px;
				}
			}
			h2 {
				color: @white;
				font-size: 30px;
				font-weight: lighter;
			}
			p {
				color: darken(@white, 25%);
				font-size: 17px;
				padding-bottom: 37px;
			}
		}
	}
	.slick-slide img {
		display: inline-block;
	}
}

//секция с двумя кнопками
.sec2 {
	position: relative;
	width: 100%;
	height: 559px;
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__block {
		display: block;
		transform: translate(11%, 152%);
		line-height: 20px;
		.center {
			display: table-cell;
			vertical-align: middle;
			transform: translate(0%, -50%);
			line-height: 0;
		}
		.social {
			transform: translate(0%, -100%);
		}
		&__tittle {
			h1 {
				font-weight: lighter;
				font-size: 78px;
				color: @white;
			}
			p {
				font-weight: lighter;
				font-size: 53px;
				color: @white;	
			}
			ul {
				display: flex;
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					margin: 15px;
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					background: @bg;
					border-radius: 50%;
					position: relative;
					overflow: hidden;
					font-size: 30px;
					z-index: 1;
					transition: 0.5s ease-in-out;
					&::before {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: -100%;
						z-index: -1;
						border-radius: 50%;
						transform: scale(0);
						transition: 0.3s ease-in-out;
						background: @btn;
					}
					&:hover::before {
						left: 0;
						transform: scale(0.8);
					}
					&:hover .fa {
						color: @bg;
					}
					a {
						text-decoration: none;
						color: @white;
						.fa {
							transition: 0.3s ease-in-out;
						}
					}
				}
			}
		}
		&__button {
			display: flex;
			justify-content: space-between;
			width: 20%;
			box-sizing: border-box;
			.btn {
				display: block;
				padding: 20px 32px;
				font-size: 24px;
				font-weight: lighter;
				color: @white;
				background: @btn;
				outline: none;
				border-radius: 5px;
				border-bottom: 4px solid darken(@btn, 30%);
				box-sizing: border-box;
				cursor: pointer;
				transition: 0.5s;
				text-decoration: none;
				&:hover {
					background: @btn-hover;
				}
			}
			.btn2 {
				padding: 20px 52px;
				margin-left: 10px;
			}
		}
	}
}
/*блок с боксами и load more*/
.portfolio {
	position: relative;
	height: auto;
	// height: 974px;
	.top-box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		margin-top: 50px;
		text-align: center;
		h1 {
			font-size: 48px;
			color: @white;
			font-weight: lighter;
			line-height: 30px;
		}
		ul {
			display: flex;
			justify-content: center;
			margin: 0;
			li {
				list-style: none;
				a {
					color: @white;
					text-decoration: none;
					font-size: 20px;
					padding: 10px 20px;
					background: lighten(@bg, 10%);
					margin: 5px;
					transition: 0.3s;
					&:hover {
						background: @btn-hover;
					}
				}
			}
		}
	}
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 55px 10%;
		width: 80%;
		&__box {
			display: flex;
			position: relative;
			align-items: center;		
			width: 296px;
			height: 292px;
			margin: 10px;
			&__img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
			&__content {
				position: absolute;
				bottom: 37px;
				left: 10%;
				width: 75%;
				height: 225px;
				background: #000;
				text-align: center;
				line-height: 12px;
				overflow: hidden;
				padding: 15px;
				box-sizing: border-box;
				opacity: 0;
				transition: 0.5s;
				&:hover {
					opacity: 1;
				}
				p {
					margin-top: 45px;
					padding: 0;
					font-size: 24px;
					color: @white;
				}
				span {
					margin: 0;
					padding: 0;
					font-size: 20px;
					color: @white;
				}
			}
		}
		.loadMore {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			text-align: center;
			align-items: center;
			width: 100%;
			margin-top: 45px;
			label {
				font-size: 22px;
				font-weight: lighter;
				text-decoration: none;
				color: @white;
			}
			&__link {
				width: 100%;
				height: 20px;
				margin-bottom: 15px;
				a {
					img {
						height: 30px;
					}
			}
			}
		}
		&__box2 {
			display: none;
			position: relative;
			align-items: center;		
			width: 296px;
			height: 292px;
			margin: 10px;
		}
	}
}
//Начало блока с ценами
.section-price {
	.top-title {
		text-align: center;
		font-size: 46px;
		color: @white;
		font-weight: 100;
		margin-top: 54px;
	}
	.box {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
		margin-left: 10%;
		flex-wrap: wrap;
		&__item {
			width: 350px;
			height: 584px;
			margin: 5px;
			flex-direction: column;
			align-items: center;
			text-align: center;
			background: @button;
			border-radius: 5px;
			&:nth-child(2) {
				background: @white;
				h1 {
					color: @button;
				}
				.text {
					color: darken(@white, 60%);
					span {
						color: darken(@white, 40%);
					}
				}
				
			}
			h1 {
				font-size: 28px;
				font-weight: lighter;
				margin-top: 50px;
				color: @white;
			}
			&__color {
				width: 100%;
				padding: 1px 0;		
				background: @btn-hover;				
				border-bottom: 2px solid rgba(0,0,0,0.4);
				
				.subtitle {
					font-size: 20px;
					color: @white;
				}
			}
			&__catalog {
				width: 100%;
				line-height: 30px;
				padding-top: 30px;
				p {
					font-size: 20px;
					font-weight: bold;
					color: darken(@white, 20%);
					span {
						margin-left: 3%;
						font-weight: 100;
						color: darken(@white, 20%);
					}
				}
			}
			&__btn {
				margin-top: 65px;
				.btn {
					position: relative;
					padding: 15px 32px;
					width: 60%;
					font-size: 24px;
					font-weight: lighter;
					color: @white;
					background: @btn;
					border-radius: 10px;
					border-bottom: 4px solid darken(@btn, 30%);
					transition: 0.5s;
					text-decoration: none;
					&:hover {
						background: @btn-hover;
					}
				}
			}
		}
		.item2 {
			width: 280px;
			margin-top: 72px;
			background: @white;
			h1 {
				color: @button;
			}
			.black {
				background: #404040;
			}
			.green {
				background: #4BB2A5;
			}
			.yellow {
				background: #B3C57E;
			}
			.white {
				background: #E5E5E5;
			}
			.text {
				color: darken(@white, 60%);
				span {
					color: darken(@white, 40%);
				}
			}			
		}
	}
	.bottom-title {
		display: block;
		position: relative;
		margin-top: 100px;
		text-align: center;
		h2 {
			font-size: 24px;
			font-weight: 100;
			color: @white;
			text-transform: uppercase;
		&:before {
			content: '';
			position: absolute;
			width: 28%;
			height: 2px;
			background: #404040;
			transform: translate(-120%, 15px);
		}
		&::after {
			content: '';
			position: absolute;
			width: 28%;
			height: 2px;
			background: #404040;
			transform: translate(23%, 15px);
		}
		}	
	}
	.bottom-text {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		width: 50%;
		align-items: center;
		text-align: center;
		transform: translateX(50%);
		.quote {
			position: relative;
			width: 100px;
			height: 100px;
			margin: 0 10px;
			&:last-child {
				transform: rotate(180deg);
			}
		}
		p {
			line-height: 30px;
			color: darken(@white, 50%);
		}
	}
	.bottom-link {
		display: block;
		text-align: center;
		margin: 20px 20px;
		a {			
			color: @btn;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 16px;
			font-weight: bold;
			cursor: pointer;	
		}
	}
}

.contacts {
	h1 {
		text-align: center;
		font-size: 46px;
		color: @white;
		font-weight: 100;
		margin-top: 54px;
	}
	.top-text {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-left: 10%;
		width: 54%;
		p {
			text-transform: uppercase;
			font-size: 24px;
			color: @white
		}
	}
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		width: 80%;
		margin-left: 10%;
		.btn-form {
			display: block;
			color: @white;
			font-size: 20px;
			background: @btn-hover;
			padding: 10px 20px;
			margin: 20px 0;
			cursor: pointer;
			outline: none;
			border: none;
		}
		.container-cont1 {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			width: 55%;
			border-top: 2px solid lighten(@button, 20%);
			form {
				input {
					width: 48%;
					font-size: 20px;
					padding: 10px 20px;
					box-sizing: border-box;
					margin: 20px auto;
					border: none;
					background: @button;
					&:nth-of-type(1n+2) {
						margin-left: 10px;
					}
				}
				textarea {
					width: 95%;
					font-size: 20px;
					border: none;
					background: @button;
					padding: 10px 20px;
				}	
			}
			
		}
		.container-cont2 {
			width: 40%;
			border-top: 2px solid lighten(@button, 20%);
			margin-left: 30px;
			color: #4BB2A5;
			font-weight: bold;
			font-size: 20px;
			span {
				font-weight: 100;
			}
			.btn-form2 {
				margin-top: 65px;
			}
		}
	}	
}

footer {
	
	.container-foot {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 80%;
		margin-left: 10%;
		&__item {
			// flex-flow: column nowrap;
			width: 350px;
			&:hover h1 {
				border-bottom: 1px solid @white;
			}
			h1 {
				padding: 20px 0;
				font-weight: 100;
				color: @white;
				border-bottom: 1px solid lighten(@button, 20%);
				transition: 0.3s;
			}
			p {
				color: #4BB2A5;
				a {
					color: @white;
				}
				.fa {
					font-size: 20px;
					color: @btn;
				}
			}
			img {
				width: 80px;
				height: 80px;
				margin: 5px;
			}
		}
	}
	.contacts-foot {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		background: darken(@bg,10%);
		.logo {
			display: block;
			margin-left: 10%;
			&__link {
				display: flex;
				text-align: center;
				align-items: baseline;
				text-decoration: none;
				&__image {
					height: 30px;
					width: 45px;
				}
				&__text {
					margin-left: 4%;
					color: @white;
					font-size: 32px;
				}
			}
		}
		.contacts {
			width: 50%;
			text-align: center;
			ul {
				display: flex;
				align-items: center;
				box-sizing: border-box;
				li {
					list-style: none;
					a {
						font-weight: bold;
						text-decoration: none;
						font-size: 18px;
						color: #4BB2A5;
						padding: 10px 20px;
						transition: 0.3s ease-in-out;
						&:hover {
							color: @btn;
						}
						p {
							font-weight: 100;
							span {
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}
}